*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    overflow: hidden;
    background-color: #000;
}
.clear-btn{
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}